<html>

<head>
    <title>home</title>
</head>

<body>
    <div class="news-view view">
        <% list.forEach(function(item) { %>
            <div class="item">
                <a href="<%= item.url %>"><%= item.title %></a>
            </div>
        <%})%>
    </div>
</body>
<script src="/public/scripts/home.bundle.js"></script>
</html>