/**
 * 首页-关于我们
 * @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

@import "./common/visiables";

.company-intro {
	text-align: left;
	margin: 10px 5%;
	p {
		text-indent: 2em;
	}
	ul {
		margin: 10px 0;
		li {
			color: $color-gray-dark;
			margin: 0 0 10px 47px;
			list-style: disc;
		}
	}
}

.craftsman-space {
	margin: 20px 5%;
	img {
		width: 100%;
		box-sizing: border-box;
		padding: 5px;
		background: $body-bg-color;
	}
	.mark {
		text-align: center;
		color: $color-gray-light;
		font-size: 12px;
	}
}
