/**
 *  @file 覆盖element样式
 *  @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

.el-dropdown-link {
    cursor: pointer;
}

.el-tabs__active-bar,
.el-checkbox__inner.is-checked,
.el-pager li.active,
.el-button--primary {
    background: $brand;
    border: $brand;
    &:hover {
        background: $brand-hover;
    }
}

.el-date-table td.today {
    color: $brand;
}
.el-date-table td.current, 
.el-date-table td.end-date, 
.el-date-table td.start-date {
    background-color: $brand !important;
    color: #fff;
}

.el-select-dropdown__item {
    &:hover,
    &.hover {
        background-color: $brand-hover;
        color: #fff;
    }
    &.selected {
        background-color: $brand;
        &:hover {
            background-color: $brand-hover;
        }
        &.hover {
            background-color: $brand;
        }
    }
}

.el-dropdown-menu {
    color: #393d40;
    .el-dropdown-menu__item {
        &:hover {
            background-color: $brand-hover;
            color: #fff;
        }
    }
}
    
.el-dropdown__menu {
    color: #393d40;
    .el-dropdown-item {
        &:hover {
            background: $brand;
            color: #fff;
        }

    }
}
.el-pagination {
    background: transparent;
}
.el-table {
    border-top: 2px solid $brand;
    th {
        background: #F6F7F9;
        border-right: 1px solid #E0E0E0;
        border-bottom: none;
        > div {
            background: transparent;
            font-size: 16px;
            color: #475669;
            font-weight: 400;
        }
    }
    td {
        .cell {
            padding: 15px;
            line-height: 1.5;
            font-size: 14px;
            color: #1F2D3D;
            .el-icon-caret-bottom {
                font-size: 12px;
            }
        }
    }
}
.process-dropdown {
    line-height: 14px;
    cursor: pointer;
    > span {
        &:hover {
            color: $brand;
        }
        > i {
            font-size: 10px;
        }
    }
}
.el-breadcrumb__item:not(:last-child) {
    .el-breadcrumb__item__text {
        &:hover {
            color: $brand;
        }
    }
}
.el-table--striped .el-table__body tr:nth-child(2n) {
    background: rgba(246,247,249,0.98);
}
.el-input__inner, 
.el-date-editor__editor, 
.el-input-group__append, 
.el-input-group__prepend{
    border-color: #e6e6e6;
    &:hover {
        border-color: #c0ccda;
    }
}
.el-input-group__append, 
.el-input-group__prepend {
    // background: $brand;
    // color: #fff;
    // border: none;
}
.el-button {
    &:hover {
        //border-color: transparent;
        //border-color: $brand-hover;
    }
}
.el-radio__inner:not(.is-disabled):hover {
    border-color: $brand-hover;
}
.el-radio__inner.is-checked {
    border-color: $brand;
    background: $brand;
}
.el-radio__label {
    color: #1f2d3d;
}
.el-date-editor.is-active > .el-date-editor__editor, 
.el-date-editor:hover > .el-date-editor__editor, 
.el-date-editor__editor:focus,
.el-select .el-input .el-input__inner:focus,
.el-input__inner:focus,
.el-textarea__inner:hover,
.el-textarea__inner:focus,
.el-pagination__sizes .el-input .el-input__inner:hover,
.el-input__inner:hover,
.el-select:hover .el-input__inner {
    border-color: $brand-hover;
}
.el-pagination {
    button {
        &:hover {
            color: $brand-hover;
        }
    }
}
.el-pager li {
    &:hover {
        color: $brand-hover;
    }
    &.active {
        background: $brand;
        border-color: $brand;
        color: #fff;
        //color: $brand
    }
}
.el-dialog__header {
    padding: 20px;
    background: #f5f7f7;
}
.el-dialog__body {
    padding: 5px 20px;
}
.el-dialog__close {
    &:hover {
        color: $brand-hover;
    }
}
.el-dialog__footer {
    background: #f5f7f7;
}
.el-tabs__header {
    border-bottom: none;
}
.el-tabs__item {
    &.is-active {
        color: $brand;
    }
}
.el-input {
    &.is-active {
        .el-input__inner {
            border-color: $brand;
        }
    }
}
.el-checkbox__inner {
    &:not(.is-disabled) {
        &:hover {
            border-color: $brand-hover;
        }
    }
    &.is-focus {
        border-color: $brand-hover;
    }
    &.is-checked {
        background-color: $brand-hover;
        border-color: $brand-hover;
    }
}

.el-switch__input:checked + .el-switch__core {
        border-color: $brand-hover;
        background-color: $brand-hover;
}
.el-checkbox {
    display: inline-block;
}
.el-message-box__close {
    &:hover {
        color: $brand-hover;
    }
}
.el-popover {
    line-height: 14px;
    text-align: left;
}
.el-input-number {
    display: inline-block;
}
.el-input-number__decrease, .el-input-number__increase {
    &:hover {
        color: $brand-hover;
    }
}
.el-loading-bubble {
    background-color: $brand;
}
.el-loading-mask {
    background-color: rgba(255, 255, 255, .3) !important;
    transition: all .3s ease;
}
.el-message-box__wrapper {
    z-index: 10002 !important;
    // + .v-modal {
    //     z-index: 10001 !important;
    // }
}

.el-upload__input {
    display: none !important;
}
.el-autocomplete__suggestions li {
    @include user-select(none);
}
.el-autocomplete__suggestions li.highlighted, .el-autocomplete__suggestions li:hover {
    background-color: $brand-hover;
    color: #fff;
}

.el-dragger__cover {
    img {
        height: 100%;
    }
}
.el-dragger__cover__interact .btn {
    margin-top: 30px;
    &:hover {
        color: #fff;
    }

}
.el-picker-panel {
    &.el-date-picker {
        z-index: 9999 !important;
        &.has-sidebar {
            min-width: 370px;
        }
        &.has-time {
            min-width: 350px;
        }
    }
}
.el-date-picker__time-header {
    .el-date-picker__editor {
        width: 146px;
    }
}
.el-time-panel__content::after, .el-time-panel__content::before  {
    background-color: $brand;
}


.el-pagination {
    margin-top: 20px;
    background: transparent !important;
    text-align: center;
    button {
        background-color: #fff !important;
    }
}

.el-card {
    margin-top: 20px;
    &:first-of-type {
        margin-top: 0;
    } 
    .el-card__header {
        span {
            font-size: 20px;
            color: #364150;
        }
    }
}

.el-steps {
    .el-step {
        .is-success {
            background-color: $brand;
            border-color: $brand;
        }
        .el-step__main {
            .is-success {
                color: $brand;
                background-color: #fff;
            }
        }
    }
}

.list-wrapper {
    .el-table {
        .el-tooltip {
            display: inline-block;
        }
    }
}
.el-tooltip {
    color: $brand;
}
.el-dropdown-menu__item {
    &.active {
        background: $brand;
        color: #fff;
        &:hover {
            background: $brand-hover;
            color: #fff;
        }
    }
}

.is-multiple {
    min-width: 360px;
}

.el-dialog__body {
    padding: 10px 20px;
}

.el-table__body-wrapper {
    overflow: initial;
}

.el-form-item__content,
.el-date-editor__editor {
    color: #1f2d3d;
}

::-webkit-input-placeholder { color: #99A9BF !important; }
::-moz-placeholder { color: #99A9BF !important; }
:-ms-input-placeholder { color: #99A9BF !important; }
input:-moz-placeholder { color: #99A9BF !important; }

.cell .gallery .wrapper img[data-src^='http'] {
    width: 35px;
    height: auto;
    margin-bottom: 5px;
}
table .cell .gallery {
    display: block;
}

table .cell .gallery .wrapper {
    flex: none;
    float: left;
}
