.main {
    padding-left: 200px;
	height: 100%;
	padding-top: 50px;
    background: #FFF;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
	.main-content {
        position: relative;
        padding: 20px 30px;
	}
}
.footer {
    margin-left: 192px;
}