/**
 *  @file main区域样式
 *  @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

.main {
    padding: 50px 0 50px 182px;
	height: 100%;
    background: #FFF;
    -webkit-tap-highlight-color: transparent;
	.main-content {
        position: relative;
        padding: 20px 30px;
	}
}
body {
    .bfooter {
        padding-left: 192px;
    }
}

.headPic {
    border-radius: 4px;
}