/**
 *  @file main区域样式
 *  @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

.main {
    padding-left: 200px;
	height: 100%;
	padding-top: 50px;
    background: #FFF;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
	.main-content {
        position: relative;
        padding: 20px 30px;
	}
}
body {
    .footer {
        padding-left: 200px;
    }
}