/**
 * @file 页角样式
 * @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

.bfooter {
    position: fixed;
    height: 44px;
    line-height: 44px;
    padding: 0 56px;
    bottom: 0;
    box-sizing: border-box;
    z-index: 50; 
    border-color: $body-bg-color;
    background-color: $area-bg-color;
    width: 100%;
    .beian {
        margin: 0 10px;
    }
}