/**
 * @file 全局样式
 * @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

body, 
html { 
    height: 100%; 
    background: #fff; 
    color: $color-gray-dark;
    font: 14px Arial, "微软雅黑"; 
    font-family: HELVETICANEUELTPRO-THEX, Arial, "微软雅黑"; 
    -webkit-font-smoothing: antialiased; 
    -webkit-text-size-adjust: none; 
    -webkit-tap-highlight-color: transparent; 
    -webkit-overflow-scrolling: touch; 
    overflow-scrolling: touch;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

.brand {
    color: $brand;
}
.pointer {
	cursor: pointer;
}
.middle {
	vertical-align: middle;
	display: inline-block;
}
.clearfix {
    @include clearfix;
}

.radius3 {
    border-radius: 3px;
}

.mark-text {
    color: $color-gray-light;
}

.logo {
    text-align: center;
    font-family: 'titillium';
    height: 51px;
    line-height: 5px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    width: 182px;
    margin: 0 auto;
    background: $brand;
    color: #FFF;
    .icon {
        font-size: 38px;
        position: relative;
        top: 6px;
        margin: 3px;
    }
    &:hover {
        text-decoration: none;
        color: lighten(#000, 95%);
    }
}
