.header {
    @include clearfix;
	background-color: #FFF;
    .logo {
        float: left;
        width: 192px;
        height: 50px;
    }
    .right {
        float: right;
		img {
			border-radius: 4px;
			margin-left: 30px;
			margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
		}
		.name {
			cursor: pointer;
			margin-right: 10px;
			.triangle {
				display: inline-block;
				position: relative;
				transform: rotate(0deg);
				transition: transform .3s ease-in-out;
				border-top: 4px solid #333;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid transparent;
			}
			.list {
				transition: all .3s;
				visibility: hidden;
				-moz-transition: all .3s;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				box-sizing: border-box;
				position: absolute;
				height: 0;
				overflow: hidden;
				top: 100%;
				right: 5px;
				z-index: 1000;
				background-color: #fff;
				width: 130px;
				border: 1px solid #D3DCE6;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 0px 6px 0px rgba(0,0,0,0.04);
				border-radius: 2px;
				>li {
					padding: 0 30px;
					color: #475669;
					line-height: 36px;
					a {
						&:hover {
							text-decoration: none;
						}
					}
					&:hover {
						background-color: #F2F2F2;
					}
				}
			}
			&:hover {
				.list {
					visibility: visible;
					height: 72px;
				}
				.triangle {
					 transform: rotate(180deg);
				}
			}
		}
	}
}