.add-role {
	ul {
		margin: 0 0 0 30px;
	}
	.module {
		margin-bottom: 10px;
	}
	li {
		list-style: none;
		margin: 10px 0;
		label {
			@include text-overflow;
			max-width: 200px;
			display: block;
		}
	}
	.el-form {
		.el-form-item {
			&:nth-of-type(3) {
				margin-bottom: 0;
				.el-form-item__error {
					top: 23%;
				}
			}
		}
	}
}
.show-modules {
	margin-left: 100px;
}
